.cart {
    background-color: #cacaca;
    padding: 1rem 0.5rem;
    min-height: 100vh;
    padding: 2em;
}

.EmptyCart {
    color: #999;
}

.descriptions {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: flex-end;
    margin: auto;
}

.subtotal {
    display: flex;
    justify-content: flex-end;
}

.cartButton {
    color: aliceblue;
    border: 0;
    background: transparent;
    background-color: #333;
    padding: 0.5rem;
    border-radius: 4px;
}

.iconCartContainer {
    width: 3em;
    height: 3em;
    border: 2px solid;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.containerPayment {
    background-color: #6d6;
}

.containerPayment:hover {
    background-color: #6f6;
    border: 0;
}

.containerHome {
    background-color: #666;
}

.containerHome:hover {
    background-color: #999;
    border: 0;
}

.containerClear {
    background-color: #d66;
}

.containerClear:hover {
    background-color: #f66;
    border: 0;
}

.iconCart {
    font-size: 2em;
}

.cartButton:hover {
    color: #333;
    background-color: #999;
}

.keypad {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}