.cart {
    background-color: #cacaca;
    padding: 1rem 0.5rem;
    min-height: 100vh;
    padding: 2em;
}

.EmptyCart {
    color: #999;
}

.descriptions {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: flex-end;
    margin: auto;
}

.subtotal {
    display: flex;
    justify-content: flex-end;
}

.cartButton {
    color: aliceblue;
    border: 0;
    background: transparent;
    background-color: #333;
    padding: 0.5rem;
    border-radius: 4px;
}

.cartButton:hover {
    color: #333;
    background-color: #999;
}

.keypad {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}