.detalleItem {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    background: linear-gradient(235deg, #a88 0%, #88a 47%, #8a8 100%);
    width: 90%;
    border-radius: 6px;
    color: aliceblue;
    font-size: larger;
    position: relative;
    border: 0px;
    box-shadow: 0.4rem 0.2rem 1rem #11111188;
    overflow: hidden;
    text-align: left;
    padding: 2em;
}

.tituloProducto {
    color: #eef;
    margin: 1em;
    text-align: center;
    color: #213;
}

.imagenDetailProducto {
    width: 100%;
    height: 300px;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.imagenDetailProducto img {
    width: 300px;
    border-radius: 0.4rem;
}

.detalle {
    background: linear-gradient(235deg, #8a8 0%, #88a 47%, #a88 100%);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
}

.detalle h3,
h4 {
    color: #335;
}

.detalle h4 {
    margin-left: 3rem;
    font-size: 1.2rem;
}

.detalleDescripcion {
    color: #333;
    margin: 1rem 2rem;
}

.detalleAtributo {
    color: #222;
}

.contadorDetalle {
    text-align: center;
    padding: 1em;
}

.detalleBotonera {
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detalleBotonera button {
    background-color: transparent;
    color: aliceblue;
    border: 0;
    margin: 0.5em;
    font-weight: 900;
    transition: 0.5s;
}

.detalleBotonera button:hover {
    color: #213;
    transform: scale(1.1);
}