.formContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: aliceblue;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.formContainer input {
    height: 30px;
    width: 300px;
    border-radius: 10px;
    border: none;
    margin: 5px;
}