.formContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #333;
    color: #ccc;
    min-height: 80vh;
    padding: 1em;
}

.totalPrice {
    margin: 0 0 1em 0;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.formContainer input {
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}

.finishSaleBtn {
    background-color: transparent;
    border: none;
    font-size: larger;
    font-weight: 700;
    margin: 1rem;
}

.finishSaleBtn:hover {
    color: #aaa;
}