.ItemListContainer {
    width: 100%;
    background-color: rgb(170, 170, 158);
    background: radial-gradient(white, lightgray, gray);
    padding: 2em 1em 2em 1em;
}

.ILCTitle {
    font-size: 2em;
    color: #336;
    font-weight: 900;
    text-transform: uppercase;
}

.NoProducts {
    text-align: center;
    padding: 2em;
}