.header{
    width: 100vw;
    height: 250px;
    background: radial-gradient(circle, rgba(217,217,217,1) 0%, rgba(38,38,38,1) 86%);  /* 
    background: radial-gradient(circle, rgba(217,217,217,1) 5%, rgba(47,47,47,1) 100%) */
}